page-login {
}

.button {
    /*adjust the roundness*/
    border-radius: 14px;
    moz-border-radius: 14px;
    webkit-border-radius: 14px;
    /*adjust height and width*/
    /*change border colour*/
}

text-wrap {
    font-size: 25px;
}